#allButtons button{
    width:25%;
    margin: 5px;
}

#progressBar .progress{
    width:100%;
}

#progressBar img{
    width: 40x;
    height: 40px;
    margin-right: 10px;
}

body{
    background-image: url(backgrounds/ruangtidur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#pillContainer img{
      width: 60px;
      height: 60px;
      display: none;
      position: fixed;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
}

#tempat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
}

#tempat img {
    max-width: 100px;
}

a img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}
